.game-field-container {
  max-width: 600px !important;
}

.cell {
  position: relative;
  overflow: visible;
}

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cell-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.cell-button {
  border: none;
  background: none;
  overflow: visible;
}

.cell-button:hover {
  position: relative;
  z-index: 2;
}

.cell-button-red:hover {
  box-shadow: 0px 0px 20px var(--bs-red);
}

.cell-button-blue:hover {
  box-shadow: 0px 0px 20px var(--bs-blue);
}

.text-red {
  color: var(--bs-red);
}

.text-blue {
  color: var(--bs-blue);
}