.game-field-container {
  max-width: 600px !important;
}

.cell {
  position: relative;
  overflow: visible;
  /* border-width: 2px 2px !important; */
}

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cell-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: flex;
}

.cell-content img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

.cell-button {
  border: none;
  background: none;
  overflow: visible;
}

.cell-button:hover {
  position: relative;
  z-index: 2;
}

.cell-button-red:hover {
  box-shadow: 0px 0px 20px var(--bs-red);
}

.cell-button-blue:hover {
  box-shadow: 0px 0px 20px var(--bs-blue);
}

.text-red {
  color: var(--bs-red);
}

.text-blue {
  color: var(--bs-blue);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: none;
  border: none;
}

.closeButton img {
  padding: 10px;
  width: 50px;
  height: 50px;
}